<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PDF</title>
    </head>
    <body>
        <canvas id="container"></canvas>
        <div id="base64" data-template="{{json_file}}" data-udata="{{udata}}"></div>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/components/jquery/jquery.min.js"></script>
        <script src="/components/underscore/underscore-min.js"></script>
        <script src="/components/fabric.js/dist/fabric.min.js"></script>
        <!-- The File Upload validation plugin -->
        <script src="/assets/js/utils.js"></script>
        <script src="/assets/js/demo.js"></script>
    </body>
</html>
