<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PDF</title>
        <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/components/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/assets/css/demo.css" type="text/css">
    </head>
    <body>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div>
                <h1>Weez Editor</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" id="saveData">Save</button>
                    <button type="button" class="btn btn-primary" id="duplicateData">Duplicate</button>
                    <button type="button" class="btn btn-primary" id="deletePersoFile">Delete</button>
                    <button type="button" class="btn btn-primary" id="exportImg">Export IMG</button>
                    <button type="button" class="btn btn-primary" id="exportJson">Export JSON</button>
                    <button type="button" class="btn btn-primary" id="importJson">Load JSON</button>
                    <select class="form-control" name="{{name}}" id="persoFile">
                        {% for file in persoFiles %}
                            <option value="{{file}}" {% if loop.last %}selected{%endif%}>{{ file }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">{% include 'core_a4.twig' %}</div>
                <div class="col-md-3">{% include 'toolbox.twig' %}</div>
            </div>
        </div>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/components/jquery/jquery.min.js"></script>
        <script src="/components/underscore/underscore-min.js"></script>
        <script src="/components/fabric.js/dist/fabric.min.js"></script>
        <script src="/components/bootstrap/js/bootstrap.min.js"></script>
        <script src="/components/Radio/radio.min.js"></script>
        <!-- The File Upload validation plugin -->
        <script src="/assets/js/utils.js"></script>
        <script src="/assets/js/demo.js"></script>
    </body>
</html>
