<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PDF</title>
        <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/components/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/components/spectrum/spectrum.css">
        <link rel="stylesheet" href="/components/dropzone/dist/min/basic.min.css">
        <link rel="stylesheet" href="/components/dropzone/dist/min/dropzone.min.css">
        <link rel="stylesheet" href="/assets/css/demo.css" type="text/css">
        <link id="fontList" href="https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i|Cormorant:400,400i,700,700i|Noto+Serif:400,400i,700,700i|Roboto+Mono:400,400i,700,700i" rel="stylesheet">
    </head>
    <body>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div>
                <h1>Weez Editor</h1>
                <select class="form-control" id="format" name="format">
                    <option value="a4" data-width="210" data-height="297" {% if format == 'a4' %}selected{%endif%}>a4</option>
                    <option value="8x3" data-width="203" data-height="76.2" {% if format == '8x3' %}selected{%endif%}>8x3</option>
                    <option value="3x3" data-width="79" data-height="87" {% if format == '3x3' %}selected{%endif%}>3x3</option>
                </select>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" id="save">Save</button>
                    <button type="button" class="btn btn-primary" id="duplicate">Duplicate</button>
                    <button type="button" class="btn btn-primary" id="deletePersoFile">Delete</button>
                    <button type="button" class="btn btn-primary" id="importJson">Load JSON</button>
                    <button type="button" class="btn btn-primary" id="exportJson">Export JSON</button>
                    <button type="button" class="btn btn-primary" id="exportPdf" data-url="/_pdf.php?file=">Export PDF</button>
                    <button type="button" class="btn btn-primary" id="exportZpl">Export ZPL</button>
                    <select class="form-control" name="{{name}}" id="persoFile">
                        {% for files in persoFiles %}
                            <option value="{{files}}">{{ files }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <canvas id="container"></canvas>
                </div>
                <div class="col-md-4">
                    <div id="toolbox">
                        <ul>
                            <li>
                                <div class="input-group txt">
                                    <span class="input-group-addon">tag</span>
                                    <select class="form-control" id="tag" name="tag">
                                        <option value="free_text">Free Text</option>
                                        <option value="ev_nom">ev_nom</option>
                                        <option value="barcode_id">barcode_id</option>
                                        <option value="acheteur_id">acheteur_id</option>
                                        <option value="ev_id">ev_id</option>
                                        <option value="ev_nom">ev_nom</option>
                                        <option value="lieu_nom">lieu_nom</option>
                                        <option value="lieu_adresse">lieu_adresse</option>
                                        <option value="lieu_ville">lieu_ville</option>
                                        <option value="billet_nom">billet_nom</option>
                                        <option value="billet_categorie">billet_categorie</option>
                                        <option value="cmd_client">cmd_client</option>
                                        <option value="cmd_client_prenom">cmd_client_prenom</option>
                                        <option value="cmd_client_nom">cmd_client_nom</option>
                                        <option value="billet_prix">billet_prix</option>
                                        <option value="billet_frais">billet_frais</option>
                                        <option value="billet_num">billet_num</option>
                                        <option value="id_orga">id_orga</option>
                                        <option value="ev_orga">ev_orga</option>
                                        <option value="cmd_date">cmd_date</option>
                                        <option value="cmd_num">cmd_num</option>
                                        <option value="ev_url">ev_url</option>
                                        <option value="id_transaction_billet">id_transaction_billet</option>
                                        <option value="ev_email">ev_email</option>
                                        <option value="address">address</option>
                                        <option value="ev_orga_txt">ev_orga_txt</option>
                                        <option value="ev_dates">ev_dates</option>
                                        <option value="cgu" data-type="textbox">cgu</option>
                                    </select>
                                    <div class="input-group-addon"><button id="textElts" class="btn btn-primary"><i class="fa fa-plus-square"></i></button></div>
                                </div>
                            </li>
                            <li>
                                <div class="input-group">
                                    <span class="input-group-addon">Unit</span>
                                    <select class="form-control" id="unit" name="unit">
                                        <option value="pixel">pixel</option>
                                        <option value="mm">mm</option>
                                    </select>
                                </div>
                            </li>
                            <li><button id="image" class="btn btn-primary">Add Img</button></li>
                            <li><button id="qrcode" class="btn btn-primary">Add QRCode</button></li>
                            <li><button id="barcode" class="btn btn-primary">Add Barcode</button></li>
                            <li><button id="rectangle" class="btn btn-primary">Add Rectangle</button></li>
                            <li><button id="circle" class="btn btn-primary">Add Circle</button></li>
                            <li><button id="line" class="btn btn-primary">Add Line</button></li>
                        </ul>
                    </div>
                    <div id="editbox" class="">
                        <form action="" id="form" role="form">
                            <div class="common all txt image qrcode barcode rectangle circle line">
                                <input type="hidden" class="form-control"  id="id">
                                <input type="hidden" class="form-control"  id="type">
                                <input type="hidden" class="form-control"  id="default">
                                <div class="input-group">
                                    <span class="input-group-addon">x</span>
                                    <input type="text" class="form-control" placeholder="x" name="bx" id="bx">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">y</span>
                                    <input type="text" class="form-control" placeholder="y" name="by" id="by">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">w</span>
                                    <input type="text" class="form-control" placeholder="w" name="width" id="width">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">h</span>
                                    <input type="text" class="form-control" placeholder="h" name="height" id="height">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">°</span>
                                    <input type="number" class="form-control" placeholder="°" name="angle" id="angle" min="0" max="360" step="90">
                                </div>
                            </div>
                            <div class="all txt">
                                <div class="input-group">
                                    <span class="input-group-addon">font</span>
                                    <select class="form-control" name="fontFamily" id="fontFamily">
                                        <option value="Helvetica">Helvetica</option>
                                    </select>
                                </div>
                            </div>
                            <div class="all txt">
                                <div class="input-group">
                                    <span class="input-group-addon">font-align</span>
                                    <select class="form-control" id="textAlign" name="textAlign">
                                        <option value="left">left</option>
                                        <option value="center">center</option>
                                        <option value="right">right</option>
                                    </select>
                                </div>
                            </div>
                            <div class="all txt">
                                <div class="input-group">
                                    <span class="input-group-addon">font-size</span>
                                    <input type="range" class="form-control" value min="1" value max="120" step="1" default value="40" name="fontSize" id="fontSize">
                                </div>
                            </div>
                            <div class="all txt">
                                <div class="input-group">
                                    <span class="input-group-addon">line-height</span>
                                    <input type="range" class="form-control" value min="0" value max="10" step="0.1" default value="1.1" name="lineHeight" id="lineHeight">
                                </div>
                            </div>
                            <div class="all txt qrcode barcode rectangle circle">
                                <div class="input-group">
                                    <span class="input-group-addon">color</span>
                                    <input type="color" class="form-control" placeholder="font-color" name="fill" id="fill">
                                </div>
                            </div>
                            <div class="all image rectangle circle line">
                                <div class="input-group">
                                    <span class="input-group-addon">border-width</span>
                                    <input type="range" class="form-control" value min="0" value max="20" step="1" default value="1" name="strokeWidth" id="strokeWidth">
                                </div>
                            </div>
                            <div class="all image rectangle circle line">
                                <div class="input-group">
                                    <span class="input-group-addon">border-color</span>
                                    <input type="color" class="form-control" placeholder="font-color" name="stroke" id="stroke">
                                </div>
                            </div>
                            <div class="all txt">
                                <div class="input-group" id="textDecorationBox">
                                    <span class="input-group-addon">text-decoration</span>
                                    <ul>
                                        <li><button type="button" class="btn btn-primary" id="italic" style="font-style:italic">Italic</button></li>
                                        <li><button type="button" class="btn btn-primary" id="bold" style="font-weight:bold">Bold</button></li>
                                        <li><button type="button" class="btn btn-primary" id="overline" value=" overline" style="text-decoration:overline">Overline</button></li>
                                        <li><button type="button" class="btn btn-primary" id="lineThrough" value=" line-through" style="text-decoration:line-through">Line-through</button></li>
                                        <li><button type="button" class="btn btn-primary" id="underline" value=" underline" style="text-decoration:underline">Underline</button></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="all image">
                                <div class="form-group g_form_image">
                                    <div id="dz-preview" class="dropzone dropzone-previews">
                                    </div>
                                </div>
                            </div>
                            <div class="all image txt qrcode barcode rectangle circle line">
                                <button type="button" class="btn btn-primary" id="send-backwards">Send backwards</button>
                                <button type="button" class="btn btn-primary" id="send-to-back">Send to back</button>
                                <button type="button" class="btn btn-primary" id="bring-forward">Bring forwards</button>
                                <button type="button" class="btn btn-primary" id="bring-to-front">Bring to front</button>
                            </div>
                            <div class="all txt image qrcode barcode rectangle circle line">
                                <button type="button" class="btn btn-danger" id="deleteEditorboxBtn">Delete</button>
                                <button type="button" class="btn btn-primary" id="validateEditorboxBtn">Validate</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <p id="exportJsonBox"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/components/jquery/jquery.min.js"></script>
        <script src="/components/underscore/underscore-min.js"></script>
        <script src="/components/fabric.js/dist/fabric.min.js"></script>
        <script src="/components/bootstrap/js/bootstrap.min.js"></script>
        <script src="/components/Radio/radio.min.js"></script>
        <script src="/components/spectrum/spectrum.js"></script>
        <script src="/components/dropzone/dist/min/dropzone.min.js"></script>
        <!-- The File Upload validation plugin -->
        <script src="/assets/js/utils.js"></script>
        <script src="/assets/js/demo.js"></script>
    </body>
</html>
