<div id="editbox">
    <form action="" id="data_elt" role="form">
        <div id="common">
            <input type="text" class="form-control" placeholder="x" id="x">
            <input type="text" class="form-control" placeholder="y" id="y">
            <input type="text" class="form-control" placeholder="z" id="z">
            <input type="text" class="form-control" placeholder="w" id="w">
            <input type="text" class="form-control" placeholder="h" id="h">
        </div>
        <div id="txt"></div>
        <div id="img"></div>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
