
<div id="toolbox">
    <ul>
        <li id="text" data-info='{"w":50,"h":50,"type":"txt","txt":"le texte","size":16,"color":"#CCCCCC","align":"center","font":"arial.ttf","filter":""}'>TEXT</li>
        <li id="img">IMG</li>
        <li id="qrcode">QRCode</li>
        <li id="barcode">Barcode</li>
    </ul>
</div>
{% include 'editbox.twig' %}