
<div id="toolbox">
    <ul>
        <li><button id="text" class="btn btn-primary">Add text</button></li>
        <li><button id="img" class="btn btn-primary">Add Img</button></li>
        <li><button id="qrcode" class="btn btn-primary">Add QRCode</button></li>
        <li><button id="barcode" class="btn btn-primary">Add Barcode</button></li>
    </ul>
</div>
{% include 'editbox.twig' %}