
<div id="toolbox">
    <ul>
        <li id="text" data-info=' {
            "id": "_666",
            "x": "15",
            "y": "75.372",
            "z": "12",
            "angle": "0",
            "w": "50",
            "h": "50",
            "type": "txt",
            "style": {
            "size": "8",
            "color": "#000000",
            "font-style": "",
            "align": "left",
            "font": "dejavusanscondensed"
            },
            "filter": [],
            "default": "TEXT"
            }'>TEXT</li>
        <li id="img">IMG</li>
        <li id="qrcode">QRCode</li>
        <li id="barcode">Barcode</li>
    </ul>
</div>
{% include 'editbox.twig' %}